<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="project">Department</Property>
        <Property name="fileName">${project}.log</Property>
        <Property name="filePattern">${project}-%i.log</Property>
        <Property name="rawPattern">%d %-5p [%t] %C{2} (%F:%L) - %m%n</Property>
        <Property name="coloredPattern">%d %highlight{%-5p}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=cyan, DEBUG=green, TRACE=bright blue} %style{[%t] %C{2} (%F:%L) -}{bright,black} %m%n</Property>
        <Property name="coloredShortPattern">%d %highlight{%-5p}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=cyan, DEBUG=green, TRACE=bright blue} %style{[%t] -}{bright,black} %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="${coloredPattern}"/>
        </Console>
        <RollingFile name="Logfile" fileName="${fileName}" filePattern="${filePattern}">
            <PatternLayout pattern="${rawPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Stdout"/>
            <AppenderRef ref="Logfile"/>
            <AppenderRef ref="TAAppender"/>
        </Root>
    </Loggers>


</Configuration>